// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 1023.98px;
$media-md: 767.98px;
$media-sm: 600.98px;
$media-xs-mf: 390px;

// Colors
$cl-dark-alpha: #000000;
$cl-dark-beta: #070b33;
$cl-dark-gamma: #141131;

$cl-light-alpha: #ffffff;

// Fonts
$font-primary: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
