head
  meta(charset="utf-8")
  meta(name="description" content="descrip")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  meta(content="ie=edge" http-equiv="x-ua-compatible")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")

  link(rel="stylesheet" href="assets/css/style.css")

  block title
    title Test
