@import '../../../local_modules/normalize.css/normalize';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: block;

  line-height: normal;
  text-decoration: none;

  cursor: pointer;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

select {
  appearance: none;
  border: none;
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:focus-within {
    border-color: $cl-dark-alpha;
  }
}

input,
textarea {
  font: inherit;

  color: $cl-dark-alpha;

  border: none;
  background: none;
  outline: 0;
}

input[type='button'] {
  padding: 0;

  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;

  color: rgba($cl-dark-alpha, 0.6);
}

button {
  display: inline-block;

  font: inherit;
  color: inherit;

  padding: 0;
  margin: 0;

  user-select: none;

  cursor: pointer;

  border: none;
  background: none;

  &:focus {
    outline: 0;
  }
}

main {
  flex: 1 1 auto;
}

html {
  scroll-behavior: smooth;

  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $cl-light-alpha;

  &.lang-fr,
  &.lang-de,
  &.lang-es,
  &.lang-pt {
    font-size: 1.2rem;
  }

  &.lang-ja {
    font-size: 1.4rem;
  }
}

html,
body {
  height: 100%;
}

.page {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 192rem;
  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding: 0 2.4rem;
}

.ov-h {
  overflow: hidden;
}

.list-reset {
  list-style-type: none;

  padding: 0;
  margin: 0;
}
